@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Delius+Unicase&family=Inter:wght@400;800&family=Kanit&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #3b4664;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
.container {
  padding: 3rem;
}
.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  height: 100%;
  width: 100%;
  gap: 1rem;
}
.label {
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 0.2rem;
}

/*--- output display screen  ---*/

input {
  background-color: #181f32;
  height: 100%;
  border: none;
  border-radius: 10px;
  width: 25vw;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 1rem 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-align: right;
}


/*--- button keypad box ---*/

.keypad {
  width: 25vw;
  height: auto;
  border-radius: 10px;
  background-color: #252d44;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.keypad .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.keypad .row1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
button {
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  outline: none;
}
.btn {
  background-color: #eae3db;
  color: #3b4664;
}
.btn-del {
  background-color: #647299;
  color: #fff;
}
.btn-reset {
  background-color: #647299;
  color: #fff;
}
.btn-equal {
  background-color: #d13f30;
  color: #fff;
}


/*--- media query ---*/

@media screen and (max-width: 768px) {
  .container {
    padding: 2rem;
  }
  .keypad {
    width: 100%;
    padding: 1rem;
  }
  .keypad .row{
    gap: 0.5rem;
  }
  input {
    width: 100%;
  }
}
